#answer_zone, #wrong_guesses {
    font-family: 'Cutive Mono', monospace;
}

#answer_zone {
    font-size: 5em;
}

#sub_header {
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: 'Cutive Mono', monospace;
}

#game_start {
    font-family: 'Homemade Apple', cursive;
    padding-top: 10px;
    color: rgb(58, 27, 7) !important;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(58, 27, 7) !important;
    border-width: 3px;
    transform: rotate(-4deg);
}

body {
    background-image: url(../images/Old-Paper-Texture-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    object-fit: contain;
    background-color: #000;    
    color: rgb(58, 27, 7) !important;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.display-3 {
    font-family: 'Ewert', cursive;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(58, 27, 7);
}

.shots, .misses, .alert {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: rgb(58, 27, 7);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(58, 27, 7) !important;
}